model/src/main/resources/contract/ExchangeModuleService.wsdl

<definitions name="ExchangeModuleService"
             targetNamespace="urn:module.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:module="urn:module.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:service="urn:service.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:movement="urn:movement.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:plugin="urn:types.plugin.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:module.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            <xsd:import namespace="urn:service.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            <xsd:import namespace="urn:movement.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Movement.xsd"/>
            <xsd:import namespace="urn:types.plugin.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Plugin.xsd"/>
            
            <xsd:simpleType name="ExchangeModuleMethod">
                <xsd:restriction base="xsd:string">
                    <!-- unionvms wants to -->
                    <xsd:enumeration value="LIST_SERVICES"/> <!-- mobileterminal - get plugins -->
                    <xsd:enumeration value="UPDATE_PLUGIN_SETTING"/> <!-- mobileterminal - send dnidList -->
                    <xsd:enumeration value="SET_COMMAND"/> <!-- mobileterminal - pollRequest OR rules - sendEmail -->
                    <xsd:enumeration value="SEND_REPORT_TO_PLUGIN"/> <!-- rules - sendPositionToFLUX -->
                    
                    <!-- plugin wants to -->
                    <xsd:enumeration value="SET_MOVEMENT_REPORT"/>

                    <!-- admin/config wants to-->
                    <xsd:enumeration value="PING"/>

                    <!-- asynch processed movement response-->
                    <xsd:enumeration value="PROCESSED_MOVEMENT"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="ExchangeBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="module:ExchangeModuleMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="SetMovementReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="request" type="movement:SetReportMovementType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetMovementReportResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetCommandRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="command" type="common:CommandType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetCommandResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SendMovementToPluginRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="report" type="movement:SendMovementToPluginType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SendMovementToPluginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="type" type="plugin:PluginType" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceResponseType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UpdatePluginSettingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceClassName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="setting" type="service:SettingType" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UpdatePluginSettingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Ping request -->
            <xsd:element name="pingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Asynch processed movement response -->
            <xsd:element name="ProcessedMovementResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="orgRequest" type="movement:SetReportMovementType" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="movementRefType" type="movement:MovementRefType" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
    
    <message name="ExchangeFault">
        <part name="body" element="common:exchangeFault"/>
    </message>
    
    <message name="GetServiceListRequest">
        <part name="body" element="module:GetServiceListRequest"/>
    </message>
    <message name="GetServiceListResponse">
        <part name="body" element="module:GetServiceListResponse"/>
    </message>
    
    <message name="SetCommandRequest">
        <part name="body" element="module:SetCommandRequest"/>
    </message>
    <message name="SetCommandResponse">
        <part name="body" element="module:SetCommandResponse"/>
    </message>

    <message name="SetMovementReportRequest">
        <part name="body" element="module:SetMovementReportRequest"/>
    </message>
    <message name="SetMovementReportResponse">
        <part name="body" element="module:SetMovementReportResponse"/>
    </message>

    <message name="SendMovementToPluginRequest">
        <part name="body" element="module:SendMovementToPluginRequest"/>
    </message>
    <message name="SendMovementToPluginResponse">
        <part name="body" element="module:SendMovementToPluginResponse"/>
    </message>

    <message name="UpdatePluginSettingRequest">
        <part name="body" element="module:UpdatePluginSettingRequest"/>
    </message>
    <message name="UpdatePluginSettingResponse">
        <part name="body" element="module:UpdatePluginSettingResponse"/>
    </message>

    <message name="PingRequest">
        <part name="body" element="module:pingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="module:pingResponse"/>
    </message>

    <message name="ProcessedMovementResponse">
        <part name="body" element="module:ProcessedMovementResponse"/>
    </message>

    <portType name="ExchangeModulePortType">

        <operation name="GetServiceList">
            <input message="module:GetServiceListRequest"/>
            <output message="module:GetServiceListResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="CreatePoll">
            <input message="module:SetCommandRequest"/>
            <output message="module:SetCommandResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="SetMovementReport">
            <input message="module:SetMovementReportRequest"/>
            <output message="module:SetMovementReportResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="SendMovementToPlugin">
            <input message="module:SendMovementToPluginRequest"/>
            <output message="module:SendMovementToPluginResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="UpdatePluginSetting">
            <input message="module:UpdatePluginSettingRequest"/>
            <output message="module:UpdatePluginSettingResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>

        <operation name="Ping">
            <input message="module:PingRequest"/>
            <output message="module:PingResponse"/>
        </operation>

        <operation name="ProcessedMovement">
            <input message="module:ProcessedMovementResponse"/>
        </operation>

    </portType>

    <binding name="ExchangeModuleSoapBinding" type="module:ExchangeModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetServiceList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="CreatePoll">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>

        <operation name="SetMovementReport">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>

        <operation name="SendMovementToPlugin">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation> 

        <operation name="UpdatePluginSetting">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="ProcessedMovement">
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>

    </binding>

    <service name="ExchangeModuleService">
        <port name="ExchangeModulePortType" binding="module:ExchangeModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
