model/src/main/resources/contract/ExchangeDataSourceService.wsdl

<definitions name="ExchangeDataSource"
             targetNamespace="urn:source.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:source="urn:source.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:service="urn:service.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:plugin="urn:types.plugin.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:source.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            <xsd:import namespace="urn:service.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            <xsd:import namespace="urn:types.plugin.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Plugin.xsd"/>
            
            <xsd:simpleType name="ExchangeDataSourceMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="LIST_SERVICES"/>
                    <xsd:enumeration value="REGISTER_SERVICE"/>
                    <xsd:enumeration value="UNREGISTER_SERVICE"/>
                    <xsd:enumeration value="GET_SETTINGS"/>
                    <!-- <xsd:enumeration value="SET_SETTINGS"/>--> <!-- change settings (config module) -->
                    <xsd:enumeration value="GET_CAPABILITIES"/>
                    <!-- <xsd:enumeration value="SET_CAPABILITIES"/>--> <!-- change capabilities -->
                    <xsd:enumeration value="GET_SERVICE"/>
                    <xsd:enumeration value="GET_LOG_BY_QUERY"/>
                    <xsd:enumeration value="CREATE_LOG"/>
                    <xsd:enumeration value="PING"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="ExchangeBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="source:ExchangeDataSourceMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="GetLogListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="exchange:ExchangeListQuery" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetLogListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="totalNumberOfPages" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="exchangeLogs" type="exchange:ExchangeLogType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="CreateLogRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="exchangeLog" type="exchange:ExchangeLogType" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="CreateLogResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exchangeLog" type="exchange:ExchangeLogType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="type" type="plugin:PluginType" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceResponseType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceResponseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="service:ServiceType"/>
                                <xsd:element name="settingList" type="service:SettingListType" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="capabilityList" type="service:CapabilityListType" minOccurs="1" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceResponseType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UnregisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="service:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UnregisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceResponseType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceSettingsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceSettingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="settings" type="service:SettingListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceCapabilitiesRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceCapabilitiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="capabilities" type="service:CapabilityListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping request -->
            <xsd:element name="pingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
    
    <message name="ExchangeFault">
        <part name="body" element="common:exchangeFault"/>
    </message>

    <message name="GetLogListByQueryRequest">
        <part name="body" element="source:GetLogListByQueryRequest"/>
    </message>
    <message name="GetLogListByQueryResponse">
        <part name="body" element="source:GetLogListByQueryResponse"/>
    </message>
    
    <message name="CreateLogRequest">
        <part name="body" element="source:CreateLogRequest"/>
    </message>
    <message name="CreateLogResponse">
        <part name="body" element="source:CreateLogResponse"/>
    </message>
    
    <message name="GetServiceListRequest">
        <part name="body" element="source:GetServiceListRequest"/>
    </message>
    <message name="GetServiceListResponse">
        <part name="body" element="source:GetServiceListResponse"/>
    </message>
    
    <message name="GetServiceRequest">
        <part name="body" element="source:GetServiceRequest"/>
    </message>
    <message name="GetServiceResponse">
        <part name="body" element="source:GetServiceResponse"/>
    </message>
    
    <message name="RegisterServiceRequest">
        <part name="body" element="source:RegisterServiceRequest"/>
    </message>
    <message name="RegisterServiceResponse">
        <part name="body" element="source:RegisterServiceResponse"/>
    </message>
    
    <message name="UnregisterServiceRequest">
        <part name="body" element="source:UnregisterServiceRequest"/>
    </message>
    <message name="UnregisterServiceResponse">
        <part name="body" element="source:UnregisterServiceResponse"/>
    </message>
    
    <message name="GetServiceSettingsRequest">
        <part name="body" element="source:GetServiceSettingsRequest"/>
    </message>
    <message name="GetServiceSettingsResponse">
        <part name="body" element="source:GetServiceSettingsResponse"/>
    </message>
    
    <message name="GetServiceCapabilitiesRequest">
        <part name="body" element="source:GetServiceCapabilitiesRequest"/>
    </message>
    <message name="GetServiceCapabilitiesResponse">
        <part name="body" element="source:GetServiceCapabilitiesResponse"/>
    </message>

    <message name="PingRequest">
        <part name="body" element="source:pingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="source:pingResponse"/>
    </message>
    
    <portType name="ExchangeDataSourcePortType">

        <operation name="GetLogListByQuery">
            <input message="source:GetLogListByQueryRequest"/>
            <output message="source:GetLogListByQueryResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="CreateLog">
            <input message="source:CreateLogRequest"/>
            <output message="source:CreateLogResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
       
        <operation name="GetServiceList">
            <input message="source:GetServiceListRequest"/>
            <output message="source:GetServiceListResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="GetService">
            <input message="source:GetServiceRequest"/>
            <output message="source:GetServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="RegisterService">
            <input message="source:RegisterServiceRequest"/>
            <output message="source:RegisterServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="UnregisterService">
            <input message="source:UnregisterServiceRequest"/>
            <output message="source:UnregisterServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input message="source:GetServiceCapabilitiesRequest"/>
            <output message="source:GetServiceCapabilitiesResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="GetServiceSettings">
            <input message="source:GetServiceSettingsRequest"/>
            <output message="source:GetServiceSettingsResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="Ping">
            <input message="source:PingRequest"/>
            <output message="source:PingResponse"/>
        </operation>

    </portType>

    <binding name="ExchangeDataSourceSoapBinding" type="source:ExchangeDataSourcePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetLogListByQuery">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="CreateLog">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="RegisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="UnregisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceSettings">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        
    </binding>

    <service name="ExchangeDataSourceQueueService">
        <port name="DataSourcePortType" binding="source:ExchangeDataSourceSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
