model/src/main/resources/contract/ExchangeModuleService.wsdl

<definitions name="ExchangeModuleService"
             targetNamespace="urn:module.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:module="urn:module.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:poll="urn:poll.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:service="urn:service.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:movement="urn:movement.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:module.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            <xsd:import namespace="urn:service.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            <xsd:import namespace="urn:poll.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Poll.xsd"/>
            <xsd:import namespace="urn:movement.schema.fisheries.ec.europa.eu:v1" schemaLocation="Movement.xsd"/>
            
            <xsd:simpleType name="ExchangeModuleMethod">
                <xsd:restriction base="xsd:string">
                    <!-- unionvms wants to -->
                    <xsd:enumeration value="LIST_SERVICES"/> <!-- mobileterminal - get plugins -->
                    <xsd:enumeration value="SET_COMMAND"/> <!-- mobileterminal - pollRequest OR rules - sendEmail -->
                    <xsd:enumeration value="SET_REPORT"/> <!-- rules - sendPositionToFLUX -->
                    
                    <!-- plugin wants to -->
                    <xsd:enumeration value="SET_MOVEMENT_REPORT"/>
                    
                    <!-- move to register wsdl -->
                    <xsd:enumeration value="REGISTER_SERVICE"/>
                    <xsd:enumeration value="UNREGISTER_SERVICE"/>
                    
                    <!-- rest interface wants to -->
                    <!-- <xsd:enumeration value="GET_SETTINGS"/>
                    <xsd:enumeration value="GET_CAPABILITIES"/>-->
                    
                    <!-- admin/config wants to-->
                    <xsd:enumeration value="PING"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="ExchangeBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="module:ExchangeModuleMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="SetMovementRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="request" type="movement:ReportMovementType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetMovementResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetCommandRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="command" type="common:CommandType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetCommandResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="service:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UnregisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="service:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UnregisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceSettingsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceSettingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="settings" type="service:SettingListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceCapabilitiesRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceCapabilitiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="capabilities" type="service:CapabilityListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping request -->
            <xsd:element name="pingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="pingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
    
    <message name="ExchangeFault">
        <part name="body" element="common:exchangeFault"/>
    </message>
    
    <message name="GetServiceListRequest">
        <part name="body" element="module:GetServiceListRequest"/>
    </message>
    <message name="GetServiceListResponse">
        <part name="body" element="module:GetServiceListResponse"/>
    </message>
    
    <message name="RegisterServiceRequest">
        <part name="body" element="module:RegisterServiceRequest"/>
    </message>
    <message name="RegisterServiceResponse">
        <part name="body" element="module:RegisterServiceResponse"/>
    </message>
    
    <message name="UnregisterServiceRequest">
        <part name="body" element="module:UnregisterServiceRequest"/>
    </message>
    <message name="UnregisterServiceResponse">
        <part name="body" element="module:UnregisterServiceResponse"/>
    </message>
    
    <message name="GetServiceSettingsRequest">
        <part name="body" element="module:GetServiceSettingsRequest"/>
    </message>
    <message name="GetServiceSettingsResponse">
        <part name="body" element="module:GetServiceSettingsResponse"/>
    </message>
    
    <message name="GetServiceCapabilitiesRequest">
        <part name="body" element="module:GetServiceCapabilitiesRequest"/>
    </message>
    <message name="GetServiceCapabilitiesResponse">
        <part name="body" element="module:GetServiceCapabilitiesResponse"/>
    </message>
    
    <message name="SetCommandRequest">
        <part name="body" element="module:SetCommandRequest"/>
    </message>
    <message name="SetCommandResponse">
        <part name="body" element="module:SetCommandResponse"/>
    </message>

    <message name="SetMovementRequest">
        <part name="body" element="module:SetMovementRequest"/>
    </message>
    <message name="SetMovementResponse">
        <part name="body" element="module:SetMovementResponse"/>
    </message>

    <message name="PingRequest">
        <part name="body" element="module:pingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="module:pingResponse"/>
    </message>
    
    <portType name="ExchangeModulePortType">

        <operation name="GetServiceList">
            <input message="module:GetServiceListRequest"/>
            <output message="module:GetServiceListResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="RegisterService">
            <input message="module:RegisterServiceRequest"/>
            <output message="module:RegisterServiceResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="UnregisterService">
            <input message="module:UnregisterServiceRequest"/>
            <output message="module:UnregisterServiceResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input message="module:GetServiceCapabilitiesRequest"/>
            <output message="module:GetServiceCapabilitiesResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="GetServiceSettings">
            <input message="module:GetServiceSettingsRequest"/>
            <output message="module:GetServiceSettingsResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="CreatePoll">
            <input message="module:SetCommandRequest"/>
            <output message="module:SetCommandResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="SetMovement">
            <input message="module:SetMovementRequest"/>
            <output message="module:SetMovementResponse"/>
            <fault name="ExchangeFault" message="module:ExchangeFault"/>
        </operation>
        
        <operation name="Ping">
            <input message="module:PingRequest"/>
            <output message="module:PingResponse"/>
        </operation>

    </portType>

    <binding name="ExchangeModuleSoapBinding" type="module:ExchangeModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetServiceList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="RegisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="UnregisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceSettings">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="CreatePoll">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>

        <operation name="SetMovement">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>  

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>        

    </binding>

    <service name="ExchangeModuleService">
        <port name="ExchangeModulePortType" binding="module:ExchangeModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
