model/src/main/resources/contract/ExchangeDataSourceService.wsdl

<definitions name="ExchangeDataSource"
             targetNamespace="urn:source.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:source="urn:source.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:service="urn:service.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:source.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            <xsd:import namespace="urn:service.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            
            <xsd:simpleType name="ExchangeDataSourceMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="LIST_SERVICES"/>
                    <xsd:enumeration value="REGISTER_SERVICE"/>
                    <xsd:enumeration value="UNREGISTER_SERVICE"/>
                    <xsd:enumeration value="GET_SETTINGS"/>
                    <xsd:enumeration value="GET_CAPABILITIES"/>
                    <xsd:enumeration value="GET_SERVICE"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="ExchangeBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="source:ExchangeDataSourceMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="GetServiceListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:element name="serviceId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="service:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UnregisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="service:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UnregisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="service:ServiceType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceSettingsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceSettingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="settings" type="service:SettingListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceCapabilitiesRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceCapabilitiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="capabilities" type="service:CapabilityListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

		</xsd:schema>
    </types>
    
    <message name="ExchangeFault">
        <part name="body" element="common:exchangeFault"/>
    </message>

    <message name="ExchangeException">
        <part name="body" element="common:exceptionType"/>
    </message>
    
    <message name="GetServiceListRequest">
        <part name="body" element="source:GetServiceListRequest"/>
    </message>
    <message name="GetServiceListResponse">
        <part name="body" element="source:GetServiceListResponse"/>
    </message>
    
    <message name="GetServiceRequest">
        <part name="body" element="source:GetServiceRequest"/>
    </message>
    <message name="GetServiceResponse">
        <part name="body" element="source:GetServiceResponse"/>
    </message>
    
    <message name="RegisterServiceRequest">
        <part name="body" element="source:RegisterServiceRequest"/>
    </message>
    <message name="RegisterServiceResponse">
        <part name="body" element="source:RegisterServiceResponse"/>
    </message>
    
    <message name="UnregisterServiceRequest">
        <part name="body" element="source:UnregisterServiceRequest"/>
    </message>
    <message name="UnregisterServiceResponse">
        <part name="body" element="source:UnregisterServiceResponse"/>
    </message>
    
    <message name="GetServiceSettingsRequest">
        <part name="body" element="source:GetServiceSettingsRequest"/>
    </message>
    <message name="GetServiceSettingsResponse">
        <part name="body" element="source:GetServiceSettingsResponse"/>
    </message>
    
    <message name="GetServiceCapabilitiesRequest">
        <part name="body" element="source:GetServiceCapabilitiesRequest"/>
    </message>
    <message name="GetServiceCapabilitiesResponse">
        <part name="body" element="source:GetServiceCapabilitiesResponse"/>
    </message>
    
    <portType name="ExchangeDataSourcePortType">

	<operation name="GetServiceList">
            <input message="source:GetServiceListRequest"/>
            <output message="source:GetServiceListResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="GetService">
            <input message="source:GetServiceRequest"/>
            <output message="source:GetServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="RegisterService">
            <input message="source:RegisterServiceRequest"/>
            <output message="source:RegisterServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="UnregisterService">
            <input message="source:UnregisterServiceRequest"/>
            <output message="source:UnregisterServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input message="source:GetServiceCapabilitiesRequest"/>
            <output message="source:GetServiceCapabilitiesResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="GetServiceSettings">
            <input message="source:GetServiceSettingsRequest"/>
            <output message="source:GetServiceSettingsResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
    </portType>

    <binding name="ExchangeDataSourceSoapBinding" type="source:ExchangeDataSourcePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetServiceList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="RegisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="UnregisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceSettings">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
    </binding>

    <service name="ExchangeDataSourceQueueService">
        <port name="DataSourcePortType" binding="source:ExchangeDataSourceSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
