model/src/main/resources/contract/ExchangeCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
            xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns="http://schemas.xmlsoap.org/wsdl/">

    <xsd:element name="exceptionType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:integer"/>
                <xsd:element name="fault" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
  
    <xsd:element name="exchangeFault">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="code" type="xsd:int"/>
                <xsd:element name="message" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>