model/src/main/resources/contract/ExchangePluginService.wsdl

<definitions name="ExchangeModuleService"
             targetNamespace="urn:plugin.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:plugin="urn:plugin.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:service="urn:service.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:types="urn:types.plugin.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:plugin.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            <xsd:import namespace="urn:service.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            <xsd:import namespace="urn:types.plugin.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Plugin.xsd"/>
            
            <xsd:simpleType name="ExchangePluginMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="SET_CONFIG"/>
                    <xsd:enumeration value="SET_COMMAND"/>
                    <xsd:enumeration value="SET_REPORT"/>
                    <xsd:enumeration value="START"/>
                    <xsd:enumeration value="STOP"/>
                    <xsd:enumeration value="PING"/>
					<xsd:enumeration value="SET_MDR_REQUEST"/>
                    <xsd:enumeration value="SEND_FA_REPORT"/>
                    <xsd:enumeration value="SEND_FA_QUERY"/>
					<xsd:enumeration value="SET_FLUX_RESPONSE"/>
					<xsd:enumeration value="SEND_SALES_REPORT"/>
					<xsd:enumeration value="SEND_SALES_RESPONSE"/>
                    <xsd:enumeration value="SEND_VESSEL_INFORMATION"/>
                    <xsd:enumeration value="SEND_VESSEL_QUERY"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="PluginBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="plugin:ExchangePluginMethod"/>
                    <xsd:element name="senderOrReceiver" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="fluxDataFlow" minOccurs="0" type="xsd:string" />
                    <xsd:element name="destination" minOccurs="0" type="xsd:string" />
                    <xsd:element name="onValue" minOccurs="0" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="PluginBaseResponse" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="plugin:ExchangePluginMethod"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="SendSalesReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="report" type="xsd:string"/>
                                <xsd:element name="recipient" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SendSalesResponseRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="response" type="xsd:string"/>
                                <xsd:element name="recipient" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SendAssetInformationRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="request" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SendQueryAssetInformationRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

			<xsd:element name="SetMdrPluginRequest">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="plugin:PluginBaseRequest">
							<xsd:sequence>
								<xsd:element name="request" type="xsd:string" />
                                <xsd:element name="fr" type="xsd:string" />
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="AcknowledgeResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseResponse">
                            <xsd:sequence>
                                <xsd:element name="serviceClassName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="response" type="common:AcknowledgeType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetConfigRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:sequence>
                                    <xsd:element name="configurations" type="service:SettingListType" minOccurs="1" maxOccurs="1"/>
                                </xsd:sequence>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

			<xsd:element name="SetFLUXFAResponseRequest">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="plugin:PluginBaseRequest">
							<xsd:sequence>
								<xsd:sequence>
									<xsd:element name="response" type="xsd:string"/>
								</xsd:sequence>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

            <xsd:element name="SetFLUXFAQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:sequence>
                                    <xsd:element name="response" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SetFLUXFAReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:sequence>
                                    <xsd:element name="response" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

			<xsd:element name="SetCommandRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="command" type="common:CommandType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="report" type="common:ReportType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SalesQueryIncomingResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="message" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="StartRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">  
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="StopRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Ping request -->
            <xsd:element name="PingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="PingResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="plugin:PluginBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="response" type="xsd:string"/>
                                <xsd:element name="registered" type="xsd:boolean"/>
                                <xsd:element name="enabled" type="xsd:boolean"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>
    
    <message name="PluginFault">
        <part name="body" element="types:PluginFault"/>
    </message>
    
    <message name="SetConfigRequest">
        <part name="body" element="plugin:SetConfigRequest"/>
    </message>
    <message name="SetConfigResponse">
        <part name="body" element="plugin:AcknowledgeResponse"/>
    </message>
    
    <message name="SetCommandRequest">
        <part name="body" element="plugin:SetCommandRequest"/>
    </message>
    <message name="SetCommandResponse">
        <part name="body" element="plugin:AcknowledgeResponse"/>
    </message>
    
    <message name="SetReportRequest">
        <part name="body" element="plugin:SetReportRequest"/>
    </message>
    <message name="SetReportResponse">
        <part name="body" element="plugin:AcknowledgeResponse"/>
    </message>
    
    <message name="StartRequest">
        <part name="body" element="plugin:StartRequest"/>
    </message>
    <message name="StartResponse">
        <part name="body" element="plugin:AcknowledgeResponse"/>
    </message>
    
    <message name="StopRequest">
        <part name="body" element="plugin:StopRequest"/>
    </message>
    <message name="StopResponse">
        <part name="body" element="plugin:AcknowledgeResponse"/>
    </message>
    
    <message name="PingRequest">
        <part name="body" element="plugin:PingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="plugin:PingResponse"/>
    </message>
    
    <portType name="ExchangeModulePortType">

        <operation name="SetConfig">
            <input message="plugin:SetConfigRequest"/>
            <output message="plugin:SetConfigResponse"/>
            <fault name="PluginFault" message="plugin:PluginFault"/>
        </operation>
        
        <operation name="SetCommand">
            <input message="plugin:SetCommandRequest"/>
            <output message="plugin:SetCommandResponse"/>
            <fault name="PluginFault" message="plugin:PluginFault"/>
        </operation>
        
        <operation name="SetReport">
            <input message="plugin:SetReportRequest"/>
            <output message="plugin:SetReportRequest"/>
            <fault name="PluginFault" message="plugin:PluginFault"/>
        </operation>
        
        <operation name="Start">
            <input message="plugin:StartRequest"/>
            <output message="plugin:StartResponse"/>
            <fault name="PluginFault" message="plugin:PluginFault"/>
        </operation>
        
        <operation name="Stop">
            <input message="plugin:StopRequest"/>
            <output message="plugin:StopResponse"/>
            <fault name="PluginFault" message="plugin:PluginFault"/>
        </operation>
        
        <operation name="Ping">
            <input message="plugin:PingRequest"/>
            <output message="plugin:PingResponse"/>
        </operation>

    </portType>

    <binding name="ExchangeModuleSoapBinding" type="plugin:ExchangeModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="SetConfig">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PluginFault">
                <soap:fault name="PluginFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="SetCommand">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PluginFault">
                <soap:fault name="PluginFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="SetReport">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PluginFault">
                <soap:fault name="PluginFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="Start">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PluginFault">
                <soap:fault name="PluginFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="Stop">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="PluginFault">
                <soap:fault name="PluginFault" use="literal"/>
            </fault>
        </operation>

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>        

    </binding>

    <service name="ExchangeModuleService">
        <port name="ExchangeModulePortType" binding="plugin:ExchangeModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
