model/src/main/resources/contract/ExchangeDataSourceService.wsdl

<definitions name="ExchangeDataSource"
             targetNamespace="urn:source.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:source="urn:source.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:source.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            
            <xsd:simpleType name="ExchangeDataSourceMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="LIST_SERVICES"/>
                    <xsd:enumeration value="REGISTER_SERVICE"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="ExchangeBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="source:ExchangeDataSourceMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="GetServiceListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetServiceListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="exchange:ServiceType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="exchange:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="RegisterServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="exchange:ServiceType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
    </types>
    
    <message name="ExchangeFault">
        <part name="body" element="common:exchangeFault"/>
    </message>

    <message name="ExchangeException">
        <part name="body" element="common:exceptionType"/>
    </message>
    
    <message name="GetServiceListRequest">
        <part name="body" element="source:GetServiceListRequest"/>
    </message>
    <message name="GetServiceListResponse">
        <part name="body" element="source:GetServiceListResponse"/>
    </message>
    
    <message name="RegisterServiceRequest">
        <part name="body" element="source:RegisterServiceRequest"/>
    </message>
    <message name="RegisterServiceResponse">
        <part name="body" element="source:RegisterServiceResponse"/>
    </message>
    
    <portType name="ExchangeDataSourcePortType">
       
        <operation name="GetServiceList">
            <input message="source:GetServiceListRequest"/>
            <output message="source:GetServiceListResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
        <operation name="RegisterService">
            <input message="source:RegisterServiceRequest"/>
            <output message="source:RegisterServiceResponse"/>
            <fault name="ExchangeFault" message="source:ExchangeFault"/>
        </operation>
        
    </portType>

    <binding name="ExchangeDataSourceSoapBinding" type="source:ExchangeDataSourcePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetServiceList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
        <operation name="RegisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeFault">
                <soap:fault name="ExchangeFault" use="literal"/>
            </fault>
        </operation>
        
    </binding>

    <service name="ExchangeDataSourceQueueService">
        <port name="DataSourcePortType" binding="source:ExchangeDataSourceSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
