model/src/main/resources/contract/ExchangeModuleService.wsdl

<definitions name="ExchangeModuleService"
             targetNamespace="urn:module.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:module="urn:module.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:poll="urn:poll.exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:module.exchange.schema.fisheries.ec.europa.eu:v1">
            
            <xsd:import namespace="urn:common.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="ExchangeCommon.xsd"/>
            <xsd:import namespace="urn:exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Service.xsd"/>
            <xsd:import namespace="urn:poll.exchange.schema.fisheries.ec.europa.eu:v1" schemaLocation="Poll.xsd"/>
            
            <xsd:simpleType name="ExchangeDataSourceMethod">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="LIST_SERVICES"/>
                    <xsd:enumeration value="REGISTER_SERVICE"/>
                    <xsd:enumeration value="GET_SETTINGS"/>
                    <xsd:enumeration value="GET_CAPABILITIES"/>
                    <xsd:enumeration value="CREATE_POLL"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:complexType name="ExchangeBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="module:ExchangeDataSourceMethod"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="CreatePollRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="poll" type="poll:PollType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="CreatePollResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="common:AcknowledgeType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getServiceListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getServiceListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="exchange:ServiceType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="registerServiceRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="service" type="exchange:ServiceType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="registerServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="service" type="exchange:ServiceType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getServiceSettingsRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getServiceSettingsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="settings" type="exchange:SettingListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getServiceCapabilitiesRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:ExchangeBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="serviceName" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getServiceCapabilitiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="capabilities" type="exchange:CapabilityListType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
    </types>
    
    <message name="ExchangeException">
        <part name="body" element="common:exceptionType"/>
    </message>
    
    <message name="GetServiceListRequest">
        <part name="body" element="module:getServiceListByQueryRequest"/>
    </message>
    <message name="GetServiceListResponse">
        <part name="body" element="module:getServiceListByQueryResponse"/>
    </message>
    
    <message name="RegisterServiceRequest">
        <part name="body" element="module:registerServiceRequest"/>
    </message>
    <message name="RegisterServiceResponse">
        <part name="body" element="module:registerServiceResponse"/>
    </message>
    
    <message name="GetServiceSettingsRequest">
        <part name="body" element="module:getServiceSettingsRequest"/>
    </message>
    <message name="GetServiceSettingsResponse">
        <part name="body" element="module:getServiceSettingsResponse"/>
    </message>
    
    <message name="GetServiceCapabilitiesRequest">
        <part name="body" element="module:getServiceCapabilitiesRequest"/>
    </message>
    <message name="GetServiceCapabilitiesResponse">
        <part name="body" element="module:getServiceCapabilitiesResponse"/>
    </message>
    
    <message name="CreatePollRequest">
        <part name="body" element="module:CreatePollResponse"/>
    </message>
    <message name="CreatePollResponse">
        <part name="body" element="module:CreatePollResponse"/>
    </message>
    
    <portType name="ExchangeModulePortType">
        
        <operation name="GetServiceList">
            <input message="module:GetServiceListRequest"/>
            <output message="module:GetServiceListResponse"/>
            <fault name="ExchangeException" message="module:ExchangeException"/>
        </operation>
        
        <operation name="RegisterService">
            <input message="module:RegisterServiceRequest"/>
            <output message="module:RegisterServiceResponse"/>
            <fault name="ExchangeException" message="module:ExchangeException"/>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input message="module:GetServiceCapabilitiesRequest"/>
            <output message="module:GetServiceCapabilitiesResponse"/>
            <fault name="ExchangeException" message="module:ExchangeException"/>
        </operation>
        
        <operation name="GetServiceSettings">
            <input message="module:GetServiceSettingsRequest"/>
            <output message="module:GetServiceSettingsResponse"/>
            <fault name="ExchangeException" message="module:ExchangeException"/>
        </operation>
        
        <operation name="CreatePoll">
            <input message="module:CreatePollRequest"/>
            <output message="module:CreatePollResponse"/>
            <fault name="ExchangeException" message="module:ExchangeException"/>
        </operation>
        
    </portType>

    <binding name="ExchangeModuleSoapBinding" type="module:ExchangeModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="GetServiceList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeException">
                <soap:fault name="ExchangeException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="RegisterService">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeException">
                <soap:fault name="ExchangeException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceCapabilities">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeException">
                <soap:fault name="ExchangeException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="GetServiceSettings">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeException">
                <soap:fault name="ExchangeException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="CreatePoll">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ExchangeException">
                <soap:fault name="ExchangeException" use="literal"/>
            </fault>
        </operation>
        
    </binding>

    <service name="ExchangeModuleService">
        <port name="ExchangeModulePortType" binding="module:ExchangeModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
